<% provide(:title, @user.name) %>
<h1>
	<%= gravatar_for @user %>
	<%= @user.name %><p></p>	<p>
	<% @photos = Photo.where("user_id = ?", @user.id)%>
      <% @photos.each do |photo| %>
    		<%= link_to(image_tag(photo.image.url(:thumb)), photo.image.url(:original) ,:class=>"fancybox")%>
			<% end %>
		</p>
</h1>