<div class="row">
  <div class="span6 offset3">  
    <%= form_for(@photo, :html => {:multipart => true}) do |f| %>
      <%= render 'shared/photo_error_messages' %>
      <%= f.file_field :image %>
      <%= f.submit "upload file", class: "btn bnt-large btn-primary" %>
    <% end %>
  </div>
</div>