
<p>
  <% @user = User.find(@photo.user_id) %>
  <%= @user.name %>
  <%= image_tag @photo.image.url %>
</p>

<%if(current_user?(@user)) %>
	<%= link_to 'Edit', edit_photo_path(@photo), class: "btn bnt-large" %>  
<%end%>
<% @photos = Photo.where("color > ? AND color < ? AND id != ?", (@photo.color - 900000000),  (@photo.color + 900000000), @photo.id) %>
<br/>
<% if(@photos.size > 0) %>
<b>Similar:</b>
<br/>
<% @photos.each do |photo| %>
    <%= link_to(image_tag(photo.image.url(:thumb)), photo.image.url(:original) ,:class=>"fancybox")%>
<% end %>
<% end %>


